{% extends "base.html" %}

{% block content %}
	<table class="table table-light">
		<thead class="thead-light">
			<tr>
				<th>#</th>
				<th>Foto</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for empleado in empleados %}
				
			<tr>
				<td>{{ empleado[0]}}</td>
				<td>{{ empleado[3]}}</td>
				<td>{{ empleado[1]}}</td>
				<td>{{ empleado[2]}}</td>
				<td>
					<a class="btn btn-warning" href="/empleados/edit/{{ empleado[0] }}">Editar</a>
					|
					<a class="btn btn-danger" href="/empleados/destroy/{{ empleado[0] }}">Eliminar</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}